name: Ruby

on:
  push:
    branches:
      - master

  pull_request:

  schedule:
    - cron: 0 0 1 * *

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby: ['3.4', '3.3', '3.2', '3.1', '3.0', '2.7']

    steps:
    - uses: actions/checkout@v5.0.0
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1.267.0
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Lint
      run: bundle exec lefthook run pre-commit
    - name: Test
      run: bundle exec rspec

  benchmark:
    needs: build
    runs-on: ubuntu-latest
    name: Benchmark ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby: ['3.4', '3.3', '3.2', '3.1', '3.0', '2.7']

    steps:
    - uses: actions/checkout@v5.0.0
    - name: Login to DockerHub
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build image
      run: docker compose build --build-arg VERSION="${{ matrix.ruby }}"
    - name: Run benchmarks
      run: docker compose up

  benchmark-yjit:
    needs: build
    runs-on: ubuntu-latest
    name: Benchmark ${{ matrix.ruby }} + YJIT
    strategy:
      matrix:
        ruby: ['3.4', '3.3', '3.2']
    steps:
    - uses: actions/checkout@v5.0.0
    - name: Login to DockerHub
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build image
      run: docker compose build --build-arg VERSION="${{ matrix.ruby }}"
    - name: Run benchmarks
      run: RUBYOPT="--yjit" docker compose up
